:root {
    --color-botticelli-50: #f1f8fb;
    --color-botticelli-300: #a6d2e3;
    --color-botticelli-400: #7cbdd8;
    --color-botticelli-500: #55a9cd;
    --color-botticelli-600: #3593bd;
    --color-botticelli-700: #2b7aa1;
    --color-botticelli-800: #236184;
    --color-botticelli-900: #1b4a66;
}