body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #6dd5ed, #2193b0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.header {
    position: absolute;
    margin-left: -550px;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    z-index: 1000;
    font-size: medium;
    text-align: center;
}

.footer {
    position: absolute;
    margin-left: -550px;
    bottom: -1%;
    height: 35px;
    width: 100%;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Yatay ve dikey ortalama */
}


.login-page {
    text-align: center;
    margin-top: 20px;
    background-image: url(${backgroundImage});
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    min-height: 350px;
    margin-left: 110%;
}

.switch-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.switch-box button {
    padding: 10px 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.switch-box button.active {
    border-bottom: 2px solid #fff;
}

.switch-box button:hover {
    color: #2193b0;
}

.login-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-container p {
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #fff;
    color: #000;
}

.login-form input::placeholder {
    color: #bbb;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #2193b0;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.login-form button:hover {
    background: #6dd5ed;
}