.navbar {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.menu-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 10;
    display: none;
    margin: 0;
    background-color: #6dd5ed;
    margin-top: 15px;
    width: 200px;
    text-align: left;

}

.menu.active {
    display: block;
}

.menu li {
    margin: 10px 0;
    left: 0;
}

.menu li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;

}